@font-face {
  font-family: PolyglotUnited;
  src: url("./fonts/PolyglotUnited.woff") format("woff");
}

:global .fontMedieval {
  font-family: PolyglotUnited, "Times New Roman", Times, serif;
  font-size: larger;
}

:global .fontModern {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: PolyglotLatin;
  src: url("./fonts/PolyglotLat.woff") format("woff");
}

:global .fontLatin, :global .fontLat {
  font-family: PolyglotLatin, serif;
  font-size: larger;
}

@font-face {
  font-family: PolyglotGreek;
  src: url("./fonts/PolyglotGre.woff") format("woff");
}

:global .fontGreek, :global .fontGre {
  font-family: PolyglotGreek, serif;
  font-size: larger;
}

@font-face {
  font-family: PolyglotCyrillic;
  src: url("./fonts/PolyglotCyr.woff") format("woff");
}

:global .fontCyrillic, :global .fontCyr {
  font-family: PolyglotCyrillic, serif;
  font-size: larger;
}

@font-face {
  font-family: PolyglotGlagolitic;
  src: url("./fonts/PolyglotGla.woff") format("woff");
}

:global .fontGlagolitic, :global .fontGla {
  font-family: PolyglotGlagolitic, serif;
  font-size: larger;
}